---
const { variant = "primary", size = "small", length = "", icon = "", iconalt = "", fontsize = "" } = Astro.props;

const buttonStyling = "rounded-border_radius-full flex justify-between w-full flex items-center justify-center";

const variantClasses = {
  primary: "bg-orange-500 hover:bg-orange-700 text-brown-100",
  secondary: "bg-transparant border border-2 border-neutrals-950 hover:bg-neutrals-950 hover:text-brown-100",
};

const sizeClasses = {
  xsmall: "px-s py-xs",
  small: "px-xl py-s",
  medium: "px-xl py-s text-xl",
  large: "px-ml py-xl text-2xl",
  xlarge: "px-m py-xl text-2xl",
};

const lengthClasses = {
  lengthxsmall: "w-[168px]",
  lengthsmall: "w-[310px]",
  lengthmedium: "w-[322px]",
  lengthxlarge: "w-[448px]",
  lengthxxlarge: "w-[197px] h-[425px]",
  lengthdefault: "w-auto",
};

const fontClasses = {
  buttonmall: "text-button_small",
  buttonmedium: "text-button_medium",
  buttonlarge: "text-button_large",
};
---

<div>
  <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], lengthClasses[length], fontClasses[fontsize]]}>
    <slot />
    <img src={icon} alt={iconalt} />
  </button>
</div>
