---
const { variant = "primary", size = "small" } = Astro.props;

const buttonStyling = "rounded";

const variantClasses = {
  primary: "bg-orange-500 hover:bg-orange-700",
  secondary: "bg-transparant borderWidth-3 border-neutrals-950 hover:bg-slate-700",
};

const sizeClasses = {
  xsmall: "px-2 py-2",
  small: "px-2 py-2",
  medium: "px-6 py-3 text-xl",
  large: "px-10 py-5 text-2xl",
};
---

<div>
  <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
