---

---

<section class="flex justify-between px-[124px] py-m">
  <div>
    <a href="" class="font-display text-h4 font-bold uppercase text-orange-500">Højskolen</a>
  </div>
  <div class="flex gap-l">
    <a href="" class="font-sans text-header font-bold hover:text-orange-500">Destinationer</a>
    <a href="" class="font-sans text-header font-bold hover:text-orange-500">Infomøder</a>
    <a href="" class="font-sans text-header font-bold hover:text-orange-500">Om os</a>
  </div>
</section>
