<section class="bg-orange-500 py-xl px-ml rounded-border_radius-43 max-h-[425px] min-w-[197px] space-y-11xl hover:cursor-pointer hover:bg-orange-700">
  <p class="font-sans text-button_large font-bold text-yellow-50">Se alle <br /> rejser</p>
  <img src="/arrowlightbig.svg" alt="pil" />
</section>
